@page "/users/view/{Id:guid}"
@inherits AuthorizedComponentBase

<div class="container pt-4">
    @if (User == null) {
        <span>Lädt ...</span>
    } else {
        <div class="row mb-3">
            <div class="col-6">
                <button class="btn btn-primary" @onclick=Back>Zurück</button>
            </div>
            <PermissionView PermissionFilter="users_delete">
                <SelfView Current="Id">
                    <Self>
                        <div class="col-6" style="display: flex; justify-content: end;">
                            <button class="btn btn-danger" disabled>
                                <i class="bi bi-trash3-fill"></i>
                            </button>
                        </div>
                    </Self>
                    <Other>
                        <div class="col-6" style="display: flex; justify-content: end;">
                            <button class="btn btn-danger" disabled="@Submitting" @onclick=Delete>
                                <i class="bi bi-trash3-fill"></i>
                            </button>
                        </div>
                    </Other>
                </SelfView>
            </PermissionView>
        </div>

        <div class="row">
            <div class="mb-3">
                <FormInput Title="Benutzername" @bind-Value=User.Username Disabled=Submitting
                       SaveClicked=Update EditPermission="users_update"
                       ErrorBag=ErrorBag ErrorKey="User.Username" ShowEditButton=true />
            </div>

            <PermissionView PermissionFilter="users_update">
                <div class="mb-3">
                    <label class="form-label">Neues Passwort (Mindestens 12 Zeichen)</label>
                    <div class="input-group mb-3">
                        <input type="@(ShowPassword ? "text" : "password")" class="form-control"
                           @bind=Password @bind:event="oninput" @onkeypress=PasswordKeyPressed />
                        <button class="btn btn-primary" type="button" @onclick=ToggleShowPassword>
                            <i class="bi @(ShowPassword ? "bi-eye-slash-fill" : "bi-eye-fill")"></i>
                        </button>
                        <button class="btn btn-primary" type="button" @onclick=RandomizePassword>
                            <i class="bi bi-dice-5-fill"></i>
                        </button>
                    </div>

                    <label class="form-label">Neues Passwort Wiederholen</label>
                    <div class="input-group mb-3">
                        <input type="@(ShowPassword ? "text" : "password")" class="form-control"
                               @bind=PasswordRepeat @bind:event="oninput" @onkeypress=PasswordKeyPressed />
                        <button class="btn btn-primary" type="button" @onclick=ToggleShowPassword>
                            <i class="bi @(ShowPassword ? "bi-eye-slash-fill" : "bi-eye-fill")"></i>
                        </button>
                        <button class="btn btn-primary" type="button" @onclick=RandomizePassword>
                            <i class="bi bi-dice-5-fill"></i>
                        </button>
                    </div>

                    <FormError ErrorBag=ErrorBag Key="User.Password" />
                    <FormError ErrorBag=ErrorBag Key="ServerError" />
                    <div class="mb-3" style="display: flex; justify-content: end;">
                        <button class="btn btn-primary" type="button" @onclick=UpdatePassword>
                            <span>Passwort Aktualisieren</span>
                        </button>
                    </div>
                </div>
            </PermissionView>
        </div>

        <div class="row mb-3">
            <SelfView Current=Id>
                <Self>
                    <div class="col-6">
                        <h3>Berechtigungen</h3>

                        <div class="col-12">
                            @if (Permissions == null) {
                                <span>Lädt ...</span>
                            } else {
                                foreach (var p in Permissions) {
                                    <label class="form-label">@p.ReadableName</label><br />
                                }
                            }
                        </div>
                    </div>
                </Self>
                <Other>
                    <PermissionView PermissionFilter="permissions_update">
                        <div class="col-6">
                            <h3>Berechtigungen</h3>

                            <div class="col-12">
                                @if (Permissions == null) {
                                    <span>Lädt ...</span>
                                } else {
                                    foreach (var p in Permissions) {
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" checked="@p.Applied"
                                                   @onchange=@(() => TogglePermission(p.Key)) />
                                            <label class="form-check-label">@p.ReadableName</label>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </PermissionView>
                </Other>
            </SelfView>

            <SelfView Current=Id>
                <Self>
                    <div class="col-6">
                        <h3>Gruppen</h3>

                        <div class="col-12">
                            @if (Groups == null) {
                                <span>Lädt ...</span>
                            } else {
                                foreach (var g in Groups.OrderBy(g => g.Name)) {
                                    <label class="form-label">@g.Name</label><br />
                                }
                            }
                        </div>
                    </div>
                </Self>
                <Other>
                    <PermissionView PermissionFilter="groups_add_user">
                        <div class="col-6">
                            <h3>Gruppen</h3>

                            <div class="col-12">
                                @if (Groups == null) {
                                    <span>Lädt ...</span>
                                } else {
                                    foreach (var g in Groups.OrderBy(g => g.Name)) {
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" checked="@g.Applied"
                                                   @onchange=@(() => ToggleGroup(g.Id)) />
                                            <label class="form-check-label">@g.Name</label>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </PermissionView>
                </Other>
            </SelfView>
        </div>
    }
</div>