@page "/MarkerStyles/Editor/{Id:guid}"
@inherits AuthorizedComponentBase

@if (MarkerStyle == null) {
    <span>Lädt ...</span>
    return;
}

<div class="container pt-4">
    <div class="row mb-3">
        <div class="col-sm-6">
            <h3>Stil Editor</h3>

            <div class="mb-3">
                <label class="form-label">Stilname</label>
                <input class="form-control" type="text" @bind=MarkerStyle.StyleName />
                <FormError ErrorBag=ErrorBag Key="MarkerStyle.StyleName" />
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <label class="form-label">Höhe (in Pixeln bei 100%)</label>
                    <input class="form-control" type="number" min="1" max="100" step="1" @bind=MarkerStyle.DefaultHeightPx />
                </div>
                <div class="col-6">
                    <label class="form-label">Breite (in Pixeln bei 100%)</label>
                    <input class="form-control" type="number" min="1" max="100" step="1" @bind=MarkerStyle.DefaultWidthPx />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <label class="form-label">Hintergrundfarbe</label>
                    <div class="input-group">
                        <input class="form-control" type="text" @bind=MarkerStyle.BackgroundColor @bind:event="oninput" />
                        <span class="input-group-text" style="background-color: @MarkerStyle.BackgroundColor;"></span>
                    </div>
                </div>
                <div class="col-6">
                    <label class="form-label">Textfarbe</label>
                    <div class="input-group">
                        <input class="form-control" type="text" @bind=MarkerStyle.TextColor @bind:event="oninput"  />
                        <span class="input-group-text" style="background-color: @MarkerStyle.TextColor;"></span>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <label class="form-label">Rundung %</label>
                    <input class="form-control" type="number" min="0" max="100" step="1" @bind=MarkerStyle.BorderRadiusPercent />
                </div>
                <div class="col-6">
                    <label class="form-label">Schriftgröße %</label>
                    <input class="form-control" type="number" min="1" max="300" step="1" @bind=MarkerStyle.FontSizePercent />
                </div>
            </div>

            <div>
                <label class="form-label">Icon</label>
                <input class="form-control" type="text" @bind=MarkerStyle.Icon @bind:event="oninput" />

                <p>
                    Aktuell können nur Icons von <a href="https://icons.getbootstrap.com/">Bootstrap Icons</a>
                    verwendet werden. Such dir ein Icon aus der Liste aus und trage den code dafür ein.<br />
                    Beispiel: Willst du das Icon "Flag fill" benutzen, musst du "bi bi-flag-fill" eintragen.
                </p>
            </div>

            <div>
                <label class="form-label">Text</label>
                <input class="form-control" type="text" @bind=MarkerStyle.Text @bind:event="oninput" />
            </div>
        </div>
        <div class="col-sm-6 d-flex flex-column">
            <h3>Vorschau</h3>

            <div class="d-flex justify-content-center align-items-center flex-grow-1">
                <div class="@MarkerStyle.CssClassName">
                    @if (!string.IsNullOrEmpty(MarkerStyle.Icon)) {
                        <i class="@MarkerStyle.Icon"></i>
                    }
                    @if (!string.IsNullOrEmpty(MarkerStyle.Text)) {
                        <span>@MarkerStyle.Text</span>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <h3>Gruppen</h3>

        @foreach (var group in AppliedGroups.OrderBy(g => g.Name)) {
            <div class="form-check">
                <input type="checkbox" class="form-check-input" @bind=group.Applied />
                <label class="form-check-label">@group.Name</label>
            </div>
        }

        <FormError ErrorBag=ErrorBag Key="MarkerStyle.Groups" />
    </div>

    <div class="row mb-3">
        <div class="d-flex justify-content-between">
            <button class="btn btn-primary" disabled=@Submitting @onclick=Back>Zurück</button>
            <button class="btn btn-success" disabled=@Submitting @onclick=Update>Speichern</button>
        </div>
    </div>
</div>

<style type="text/css">
    :root {
        --marker-multiplier: 1;
    }

    @((MarkupString)MarkerStyle.GenerateCssString())
</style>