@page "/mapobjects/view/{Id:guid?}"
@using System.Globalization;
@inherits AuthorizedComponentBase

<div class="container pt-4">
    @if (Object == null || StorageDefinitions == null) {
        <span>Lädt ...</span>
    } else {
        <div class="row mb-3">
            <div class="col-6">
                <button class="btn btn-primary" @onclick=Back>Zurück</button>
            </div>
            <PermissionView PermissionFilter="objects_delete">
                <div class="col-6" style="display: flex; justify-content: end;">
                    <button class="btn btn-danger" disabled="@Submitting" @onclick=Delete>
                        <i class="bi bi-trash3-fill"></i>
                    </button>
                </div>
            </PermissionView>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row mb-3">
                    <h3>Daten</h3>

                    <FormInput Title="Name" @bind-Value=Object.Name Disabled=Submitting
                               SaveClicked=UpdateObject EditPermission="objects_update"
                               ErrorBag=ErrorBag ErrorKey="Objects.Name" ShowEditButton=true />
                </div>

                <div class="row mb-3">
                    <FormInput Title="Beschreibung" @bind-Value=Object.Description Disabled=Submitting
                                SaveClicked=UpdateObject EditPermission="objects_update"
                                ShowEditButton=true Type=FormInputType.TextArea />
                </div>

                @{
                    string url;

                    if (Object.Storage != null) {
                        url = Object.Storage.Position.ToURL();
                    } else {
                        url = Object.LatLon.ToURL();
                    }
                }
                <div class="row mb-3">
                    @if (Object.Storage != null) {
                        <label class="form-label">Position</label>
                    } else {
                        <label class="form-label">Position <a href="@url">Auf Karte anzeigen</a></label>
                    }

                    <PermissionView PermissionFilter="objects_update">
                        <Authorized>
                            <div class="input-group">
                                <input type="number" class="form-control" @bind=ObjLatitude />
                                <span class="input-group-text">°</span>
                                <input type="number" class="form-control" @bind=ObjLongitude />
                                <span class="input-group-text">°</span>
                                <button class="btn btn-primary form-control" style="max-width: 3rem;"
                                    @onclick=UpdateObjectPositionViaMap disabled="@Submitting">
                                    <i class="bi bi-geo-alt-fill"></i>
                                </button>
                                <button class="btn btn-success form-control" style="max-width: 3rem;"
                                    @onclick=UpdateObject disabled="@Submitting">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                            </div>

                            <FormError ErrorBag=ErrorBag Key="Object.Position" />
                        </Authorized>
                        <UnAuthorized>
                            <div class="input-group">
                                <input type="number" class="form-control" value="@ObjLatitude" disabled />
                                <span class="input-group-text">°</span>
                                <input type="number" class="form-control" value="@ObjLongitude" disabled />
                                <span class="input-group-text">°</span>
                            </div>
                        </UnAuthorized>
                    </PermissionView>
                </div>

                <div class="row mb-3">
                    @if (Object.Storage != null) {
                        <label class="form-label">Lager <a href="@url">Auf Karte anzeigen</a></label>
                    } else {
                        <label class="form-label">Lager</label>
                    }
                    <PermissionView PermissionFilter="objects_update">
                        <Authorized>
                            <div class="input-group">
                                <select class="form-select" @bind=SelectedStorageId>
                                    <option selected value="">Nicht in Lager</option>

                                    @foreach (var storage in StorageDefinitions) {
                                        <option selected="@(storage.Id == SelectedStorageId)" value="@storage.Id">@storage.Name</option>
                                    }
                                </select>
                                <button class="btn btn-success form-control" style="max-width: 3rem;" disabled="@Submitting"
                                    @onclick=UpdateStorage>
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                            </div>
                        </Authorized>
                        <UnAuthorized>
                            <input type="text" class="form-control" value="@(Object.Storage?.Name ?? "Nicht in Lager")"  />
                        </UnAuthorized>
                    </PermissionView>
                </div>
                
                <div class="row mb-3">
                    <label class="form-label">Gruppe</label>
                    <div class="input-group">
                        <input disabled class="form-control" value="@(Group == null ? "Lädt ..." : Group.Name)" />
                    </div>
                </div>

                <PermissionView PermissionFilter="objects_comments_create">
                    <div class="row mb-3">
                        <h3>Neue Notiz</h3>

                        <div class="col-12">
                            <label for="input_comment_text" class="form-label">Notiz</label>
                            <textarea id="input_comment_text" class="form-control"
                                      disabled="@Submitting" @bind=NewCommentContent
                                      @bind:event="oninput"></textarea>
                        </div>

                        <div style="display: flex; justify-content: right;" class="mt-1">
                            <button class="btn btn-primary" disabled="@(Submitting || string.IsNullOrEmpty(NewCommentContent))"
                                @onclick=CreateNewComment>
                                Hinzufügen
                            </button>
                        </div>
                    </div>
                </PermissionView>

                <PermissionView PermissionFilter="objects_comments_read">
                    <div class="row mb-3">
                        <h3>Notizen <small>(Neuste oben)</small></h3>

                        <div class="px-2.5">
                            @foreach (var comment in Object.Comments.OrderByDescending(c => c.InsertionTime)) {
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <p class="card-text">@comment.Content</p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text" style="display: inline;">
                                            @comment.Username <small class="text-muted">
                                            am @comment.InsertionTime.LocalDateTime.ToShortDateString() um
                                            @comment.InsertionTime.LocalDateTime.ToShortTimeString() Uhr</small>
                                        </p>
                                        
                                        <SelfView Current="@comment.UserId">
                                            <Self>
                                                <div style="float: right; display: inline;">
                                                    @{ var guid = comment.Id; }
                                                    <button class="btn btn-danger btn-sm" @onclick=@(_ => DeleteComment(guid))>Löschen</button>
                                                </div>
                                            </Self>
                                            <Other>
                                                <PermissionView PermissionFilter="objects_comments_delete">
                                                    <div style="float: right; display: inline;">
                                                        @{ var guid = comment.Id; }
                                                        <button class="btn btn-danger btn-sm" @onclick=@(_ => DeleteComment(guid))>Löschen</button>
                                                    </div>
                                                </PermissionView>
                                            </Other>
                                        </SelfView>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </PermissionView>
            </div>
            <div class="col-lg-6" style="float: right;">
                <h3>QR Code</h3>
                @if (QRCode != null) {
                    <img src="@($"data:image/png;base64, {Convert.ToBase64String(QRCode)}")" style="width: 100%;" />
                } else {
                    <span>QRCode nicht verfügbar :(</span>
                }
            </div>
        </div>
    }
</div>